.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.nav-label {
  color: rgb(143, 143, 143);
  margin: 25px 110px 15px;
  transition: transform 0.2s;
  font-size: 14px;
}

.nav-label:hover {
  transform: scale(1.08);
}

.nav-line {
  border: 0.1px solid rgb(235, 235, 235);
  width: 100%;
}
