.photo-card {
  background-color: rgb(255, 209, 140);
  height: 200px;
  width: 200px;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  transition: transform 0.2s;
  border: 5px solid rgb(255, 188, 89);
  margin-bottom: 30px;
}

.memoji {
  margin-top: 25px;
}

.photo-card:hover {
  transform: scale(1.03);
}
