.text-card {
  height: 30%;
  padding: 0px 20px 25px 0px;
  margin-bottom: 40px;
}

.name-text {
  font-size: 64px;
  margin: 20px 0px 0px;
  color: #333333;
}

.sub-text {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #848484;
  font-style: normal;
}

.body-text {
  font-size: 14px;
  margin: 0px 0px 6px;
}

.button-container {
  width: 300px;
  height: 30px;
  position: relative;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  right: 6px;
  margin-top: 18px;
}

.button-scale {
  background: none;
  transition: transform 0.2s;
  border: none;
}

.button-scale:hover {
  transform: scale(1.15);
}

.button-icon {
  border: none;
  background: none;
}

.logo {
  height: 24px;
  width: 24px;
  margin-right: 12px;
}
